/*CSS DE USO GERAL DO HTML*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-principal);
    color: var(--color-text-padrao);
}

:root{
    --bg-principal: #3716C6;
    --bg-header:#fff;
    --color-main: rgb(242, 242, 242);
    --color-nav: white;
    --color-text-padrao: black;
    --color-text-titulo: #3716c6;
    --color-div-card: #fff;
    --color-div-title: #3716c6;
    --color-boxshadow: #151f2d74;
    --bg-nav: #3716c6;
    --bg-review:#28157e;
    --color-border-form: #3716c6;
}

.darkmode{
    --bg-principal: black;
    --bg-header:#2b2b2b;
    --color-main: #2b2b2b;
    --color-nav: #fff;
    --color-text-padrao: #c0c0c0;
    --color-text-titulo: #f6f6f6;
    --color-div-card: #2b2b2b;
    --color-div-title: #fff;
    --color-boxshadow: #f5f5f55a;
    --bg-nav: black;
    --bg-review:#4d4d4d;
    --color-border-form: black;
}

ul{
    list-style: none;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg-header);
    margin-bottom: 20px;
}

header nav{
    display: flex;
    align-items: center;
}

.menu-nav{
    display: flex;
    gap: 30px;
    align-items: center;
} 

dl, ol, ul {
    /*ITENS COMENTADOS AQUI SÃO O PROBLEMA DE ALINHAMENTO DO NAV, margin: auto É NECESSÁRIO PARA AJUSTE*/
    /* margin-top: 0; */
    /* margin-bottom: 1rem; */ 
    margin: auto;
}

.menu-nav a{
    font-weight: bold;
    color: var(--color-text-titulo);
    text-decoration: none;
    padding: 5px;
}

.menu-nav a:hover, .menu-nav span{
    font-weight: bold;
    color: var(--color-nav);
    background-color: var(--bg-nav);
    border-radius: 3px;
    transition: .2s;
    padding: 5px;
}

.menu-nav li {
    font-size: 20px;
}

main{
    width: 1080px;
    margin: auto;
    padding: 10px;
    background-color: var(--color-main);
    border-radius: 2px;
    height: auto;
}

section {
    width: 1080px;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    height: auto;
    padding-top: 29%;
}

/* ---------------------CSS FORMULÁRIO--------------------------- */
.formulario .title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: var(--color-text-titulo);
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
}

.formulario input,
.formulario textarea {
    border: 0;
    outline: 0;
    font-size: 1.2em;
    background: transparent;
    color: var(--color-border-form);
    position: relative;
    font-family: 'Inter', sans-serif;
}

.formulario textarea {
    resize: none;
}

.formulario {
    max-width: 550px;
    margin: 0 auto;
    border-radius: 2px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    position: relative;
    width: 100%;
    padding: 1em;
}

.form-item .input,
.form-item .textarea {
    display: block;
    padding: 1em;
    width: 100%;
    transition: all 0.3s;
    border-bottom: 2px solid var(--color-border-form);
}

.form-item .input:focus,
.form-item .textarea:focus {
    border-bottom: 2px solid #a88bee;
}

.form-item .input:valid+.label,
.form-item .input:focus+.label,
.form-item .textarea:valid+.label,
.form-item .textarea:focus+.label {
    top: 1em;
    left: 1em;
    font-size: 0.9em;
}

.form-item .label {
    position: absolute;
    top: 2em;
    left: 2em;
    text-transform: capitalize;
    transition: all 0.3s;
}

.form-item .botao {
    display: block;
    width: 200px;
    padding: 0.8em 0.6em;
    border: 2px var(--color-text-titulo) solid;
    border-radius: 10px;
    color: var(--color-text-titulo);
    cursor: pointer;
    transition: all 0.3s;
}

.form-item .botao:hover {
    background: #3716C6;
    color: #ffffff;
    border: 2px #3716C6 solid;
}

#bd, #ce {
    display: flex;
    }