*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #3716C6;
    /* background-color: #c8c1e0; */
}

ul{
    list-style: none;
    padding-top: 20px;
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 20px;
    block-size: auto;
    
}

header img{
    padding: 13px;
}

.menu-nav{
    
    margin-right: 12cm;
    font-size: 24px;
    display: flex;
    gap: 30px;
    

}

.menu-nav a{
    font-weight: bold;
    color: #3716C6;
    text-decoration: none;
}

.menu-nav a:hover, .menu-nav span{
    font-weight: bold;
    color: #fff;
    background-color: #3716C6;
    padding: 5px;
    border-radius: 3px;
}

li {

font-size: 27px;

}


ul li:nth-child(1) {

margin-right: 40px;

}

ul li:nth-child(2) {

margin-right: 40px;

}

ul li:nth-child(3) {

margin-left: 30px;

}

ul li:nth-child(4) {

margin-left: 40px;

}


main{
    max-width: 1098px;
    margin: auto;
}

main{
    padding: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 6px;
    height: 30cm;
}


/*WISHLIST*/

table{
    row-gap: 10px;
}

tr th:first-child{
    padding: 2px 250px 2px 2px;
}

tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 500px 10px 10px;

    background: #3716C6;
}

tr td{
    padding: 10px 70px 10px 10px;
    background: #3716C6;
}