/*CSS DE USO GERAL DO HTML*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-principal);
    color: var(--color-text-padrao);
}

:root{
    --bg-principal: #3716C6;
    --bg-header:#fff;
    --color-main: rgb(242, 242, 242);
    --color-nav: white;
    --color-text-padrao: black;
    --color-text-titulo: #3716c6;
    --color-div-card: #fff;
    --color-div-title: #3716c6;
    --color-boxshadow: #151f2d74;
    --bg-nav: #3716c6;
    --bg-review:#28157e;

}

.darkmode{
    --bg-principal: black;
    --bg-header:#2b2b2b;
    --color-main: #2b2b2b;
    --color-nav: #fff;
    --color-text-padrao: #c0c0c0;
    --color-text-titulo: #f6f6f6;
    --color-div-card: #2b2b2b;
    --color-div-title: #fff;
    --color-boxshadow: #f5f5f55a;
    --bg-nav: black;
    --bg-review:#4d4d4d;

}


ul{
    list-style: none;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg-header);
    margin-bottom: 20px;
}

header nav{
    display: flex;
    align-items: center;
  }

.menu-nav{
    display: flex;
    gap: 30px;
    align-items: center;
} 

.menu-nav dl, ol, ul {
    /*ITENS COMENTADOS AQUI SÃO O PROBLEMA DE ALINHAMENTO DO NAV, margin: auto É NECESSÁRIO PARA AJUSTE*/
    /* margin-top: 0; */
    /* margin-bottom: 1rem; */ 
    margin: auto;
}

.menu-nav a{
    font-weight: bold;
    color: var(--color-text-titulo);
    text-decoration: none;
    padding: 5px;
}

.menu-nav a:hover, .menu-nav span{
    font-weight: bold;
    color: var(--color-nav);
    background-color: var(--bg-nav);
    border-radius: 3px;
    transition: .2s;
    padding: 5px;
}

.menu-nav li {
    font-size: 20px;
}

main{
    width: 1080px;
    margin: auto;
    padding: 10px;
    background-color: var(--color-main);
    border-radius: 2px;
    height: auto;
}

section {
    width: 1080px;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    height: auto;
    padding-top: 29%;
}






/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* CSS HOME*/


#caixaCards {
    padding-top: 33%;
}

.content_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 39%;
    height: 0vh;
    padding-top: 0%;

    /*
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 41%;                       /* movimentou o card pra esqquerda*/
    /*padding-top: 14%;   */               /*movimenta ele pra cima*/

}

.content_2 {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;  
    height: 0vh;
    padding-top: 0%; 
}


.content_3 {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 63%;  
    height: 0vh;
    padding-top: 0%; 
}



.card {
    background: var(--color-div-card);
    box-shadow: 0px 2px 18px var(--color-boxshadow);
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    height: 475px;
    width: 254px;
}

.title {

    color: var(--color-div-title);
}

.mediaCard {
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSGAVnHnLd3oWgeJSAwKhBXauXgqOl1-_c6A&usqp=CAU) center/cover;
height: 300px;
width: auto; /* ISSO DAQUI PERMITE QUE A IMAGEM SE ADAPTE AO TAMANHO DO CARD */
}


.mediaCard2 {
    background: url(https://www.heypoorplayer.com/wp-content/uploads/2021/02/dmc-1024x683.jpg) center/cover;
    height: 300px;
    width: auto; 
}


.mediaCard3 {
background: url(https://upload.wikimedia.org/wikipedia/pt/thumb/9/91/Resident_Evil_4_-_North-american_cover.jpg/255px-Resident_Evil_4_-_North-american_cover.jpg) center/cover;
height: 300px;
width: auto;         
}

.topCard {
    padding: 20px;
    color: #3716C6;
}

.bottomCard {
    padding: 20px;
    font-size: 17px;
}


div.bottomCard {
height: 86px;    
width: 100%;
}


/* HOME - TREILERS*/

#treilersTitulo {
margin-left: 47%;
padding-bottom: 1cm;
}


.treilerDiv {
border: solid #3716C6 transparent;
justify-items: center;
top: 30%;
/*
max-width: 1078;

max-height: 216px;

*/
}


.treilerImg {
padding-left: 22%;
/*    
max-height: 224px;
max-width: 390px;
*/
}

h4.tituloTreiler {
    color: var(--color-text-titulo);
    text-shadow: #3716C6;
    font-size: 2em;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-left: 35%;
}

h4.tituloTreilerF {
    color: var(--color-text-titulo);
    text-shadow: #3716C6;
    font-size: 2em;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-left: 44%;
}



.paragraTreiler {
    text-align: center;
    font-size: 23px;
}


/*////////////////////////////  BOTÃO ////////////////////////////////////////////*/

    .botao{
        padding-top: 10%;
        padding-left: 46%;
    }


    .btn {
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    }
    
    .btn .play{
    position: relative;
    width: 80px;
    height: 80px;
    background: #3716C6;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #3716C6;
    transition: 0.5s;
    }

    .btn.active .play {
    
    box-shadow: 0 0 0 150vh #3716C6;
    
    
    }
    
    
    .btn .play::before {
    
    content: '';
    position: absolute;
    border: 25px solid #fff ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
    
    }


    
    
    .btn p {
    
    font-weight: 500;
    font-size:  1em;
    color: #888;
    /*letter-spacing: 4px;*/
    text-transform: uppercase;
    
    
    
    }
    
    .clip {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    
    
    }
    
    
    .clip.active {
    
    transition-delay: 0.5s;
    transform:  translate(-50%, -50%) scale(1);
    
    
    }
    
    
    .clip video {
    
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.25);
    
    }
    
    .clip .close{
    
    
    position: absolute;
    top: 30px;
    right: 30px;
    cursor:  pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    
    
    
    }
    
    
    @media(max-width: 991px) {
    
        .clip video {
    
            max-width: 900px;
            
            }
    
    
    }

    /*BOTÃO 2*/

    .btn2 {
    
        position: relative;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        
        }
        
        .btn2 .play{
        
        position: relative;
        width: 80px;
        height: 80px;
        background: #3716C6;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 25px #3716C6;
        transition: 0.5s;
        }
        
        .btn2.active2 .play {
        
        box-shadow: 0 0 0 150vh #3716C6;
        
        
        
        }
        
        
        .btn2 .play::before {
        
        content: '';
        position: absolute;
        border: 25px solid #fff ;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0px solid transparent;
        transform: translateX(5px);
        
        }
    
    
        
        
        .btn2 p {
        
        font-weight: 500;
        font-size:  1em;
        color: #888;
        /*letter-spacing: 4px;*/
        text-transform: uppercase;
        
        
        
        }
        
        .clip2 {
        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        
        
        }
        
        
        .clip2.active2 {
        
        transition-delay: 0.5s;
        transform:  translate(-50%, -50%) scale(1);
        
        
        }
        
        
        .clip2 .video2 {
        
        max-width: 900px;
        outline: none;
        border: 10px solid #fff;
        box-shadow: 0px 15px 35px rgba(0,0,0,0.25);
        
        }
        
        .clip2 .close2{
        
        
        position: absolute;
        top: 30px;
        right: 30px;
        cursor:  pointer;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color:#fff;
        
        
        
        }
        
        
        @media(max-width: 991px) {
        
            .clip2 .video2 {
        
                max-width: 900px;
                
                }
        
        
        }

/* BOTÃO 3*/


.btn3 {
    
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
    }
    
    .btn3 .play{
    
    position: relative;
    width: 80px;
    height: 80px;
    background: #3716C6;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #3716C6;
    transition: 0.5s;
    }
    
    .btn3.active3 .play {
    
    box-shadow: 0 0 0 150vh #3716C6;
    
    
    
    }
    
    
    .btn3 .play::before {
    content: '';
    position: absolute;
    border: 25px solid #fff ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
    }
    
    
    .btn3 p {
    font-weight: 500;
    font-size:  1em;
    color: #888;
    /*letter-spacing: 4px;*/
    text-transform: uppercase;
    }
    
    .clip3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    }
    
    
    .clip3.active3 {
    transition-delay: 0.5s;
    transform:  translate(-50%, -50%) scale(1);
    }
    
    
    .clip3 .video3 {
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.25);
    }
    
    .clip3 .close3{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor:  pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    }
    
    
    @media(max-width: 991px) {
        .clip3 .video3 {
            max-width: 900px;
            }
    }


/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*CSS WISHLIST*/

#wishlist{
    border-collapse: separate;
}

#wishlist tr th:first-child{
    padding: 2px 250px 2px 2px;
}

#wishlist tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 500px 10px 10px;
    background: #3716C6;
}

#wishlist tr td:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#wishlist tr td{
    padding: 10px 70px 10px 10px;
    background: #3716C6;
}


/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*CSS SOBRE*/

b {
    color: var(--color-text-titulo);
}

#fundoIdiota{   /*tive que dar um migué no fundo branco*/
    padding: 10px;
    background-color: var(--color-main);
    border-radius: 6px;
      
}

#gwgImage{
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
    margin: 20px;
}

#Titulo {
    color: var(--color-text-titulo);
    padding-left: 14%;
    padding-top: 19px;
    font-size: 38px;
}

.Titulos {
    margin: 20px;
    color: var(--color-text-titulo);
    font-size: 33px;
    padding-top: 3%;
}

.paragrafo {
    margin: 20px;
    font-size: 23px;
    text-align: justify;
}

.lista {
    font-size: 23px;
    margin: 20px;
    list-style: square;
}


/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*CSS REVIEWS*/

#mainReview{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#h1-review{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: var(--color-text-titulo);
}

#addReview{
    display: flex;
    flex-direction: column;
    /* background-color: #6c16d6; */
    border-radius: 10px;
    padding: 2%;
    gap: 10px;
    align-items: center;
}


#divRe1{
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}

#tGame{
    box-shadow: 0px 0px 10px #1c28b1;
    width: 60%;
    padding: 15px;
    border-top-left-radius: 12px;
    /* border-bottom-left-radius: 12px; */
    font-size: 20px;
    border-style: none;

}

#gGame{
    box-shadow: 0px 0px 10px #1c28b1;
    width: 25%;
    padding: 15px;
    font-size: 20px;
    border-style: none;

}

#nGame{
    box-shadow: 0px 0px 10px #1c28b1;
    padding: 15px;
    width: 15%;
    border-top-right-radius: 12px;
    /* border-bottom-right-radius: 12px; */
    font-size: 20px;
    border-style: none;

}

#nGame::-webkit-outer-spin-button,
#nGame::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#dGame{
    box-shadow: 0px 0px 10px #1c28b1;
    width: 100%;
    height: 100px;
    /* border-radius: 20px; */
    padding: 10px;
    word-wrap: break-word;
    font-size: 20px;
    border-style: none;
}
  
#botAdd{
    box-shadow: 0px 0px 10px #1c28b1;
    background: #fff;
    padding: 10px;
    width: 100%;
    color: #2b2b2b;
    max-height: 100px;
    border: #f7f5f1;
    /* border-radius: 10px; */
    font-size: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#botAdd:hover{
    box-shadow: 0px 0px 10px #1c28b1;
    background: #3716c6;
    padding: 10px;
    width: 100%;
    color: #f7f5f1;
    max-height: 100px;
    border: #f7f5f1;
    /* border-radius: 10px; */
    font-size: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#review-content{
    margin: 0 20px 20px ;
    list-style: none;
    background-color: var(--bg-review);
    color: #f7f5f1;
    border-collapse: separate;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #1c28b1;

}
  
#review-content li{
    padding: 20px;
    display: grid;
    border: solid #f7f5f1;
    grid-template-columns: 15fr 1fr 1fr;
    word-break: break-word;
}

  #review-content h2{
    font-size: 2rem;
    font-weight: bold;
    display: contents;
  }

  #review-content .sp2{
    font-size: xxx-large;
    color: var(--bg-review);
    background: #f7f5f1;
    border-radius: 12px;
    text-align: center;  
    margin-bottom: 20px;

    }

  #review-content p{
    font-size: 22px;
    word-wrap: break-word;
  }

  #h2-span{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #del-btn{
    background: transparent;
    font-size: 32px;
    color: #f7f5f1;
    font-weight: bolder;
    border: 0;
    float: right;
    margin-bottom: 20px;
  }

  #tGame::placeholder,
  #gGame::placeholder,
  #nGame::placeholder,
  #dGame::placeholder{
    font-size: 22px;
    text-align: center;
    text-justify: auto;
}